.navbar{
    background-color: blueviolet;
    text-align: center;
    padding: 14px;
}

.container a{
    font-size: 1.7rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
}

.icon{
    color: white;
    font-size: 2.4rem;
    display: none;
}

@media screen and (max-width: 800px) {
    .icon{
        display: block;
        position: relative;
        left: -170px;
    }
    .container a{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        padding: 10px;
        display: none;
    }

    .open a{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        padding: 10px;
        display: block;
    }

    .container a:hover{
        background-color: sienna;
    }
  }